[package]
name = _PKG_NAME_
version = _PKG_VERSION_
authors = [_PKG_AUTHORS_]
edition = "2018"

[dependencies]
bytes = "1.0"
prost = "0.8"
prost-types = "0.8"
tonic = { version = "0.5",  default-features = false, features = ["transport", "prost", "codegen"] }
