[package]
name = _PKG_NAME_
version = _PKG_VERSION_
authors = [_PKG_AUTHORS_]
edition = "2018"

[dependencies]
bytes = "1.0"
prost = "0.7"
prost-types = "0.7"
tonic = { version = "0.4",  default-features = false, features = ["transport", "prost"] }
