[package]
name = _PKG_NAME_
version = _PKG_VERSION_
authors = [_PKG_AUTHORS_]
edition = "2021"

[dependencies]
bytes = "1.5"
prost = "0.12.3"
prost-types = "0.12.3"
prost-reflect = {version="0.13.0", features = ["derive"]}
tonic = "0.11.0"
once_cell = "1.15.0"
